@page{
	margin-left: 5mm;
	margin-right: 5mm;
	margin-top: 5mm;
	margin-bottom: 5mm;
}

html, body {
  padding: 0;
  margin: 0;
}

#preview {
	position: relative;
	top: 6em;
	min-width: 100%;
}

#preview .btn{
	display: block;
	margin: 2em;
	text-align: center;
}

#paper-a4{
	background-color: #F0F0F1; 
	width: 21cm;
	height: 29.7cm;
	max-height: 29.7cm;
  padding:0.8em;
  box-sizing: border-box;
}


/* SQUARE LABEL TEMPLATE */
.label-square-wrapper {
  float: left;
  position: relative;
  overflow: hidden;
  padding: 1mm;
  border: 1px solid #000;
}
.square-label-text {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  margin: 0;
  padding: 2mm;
  color: black;
}

/* CIRCLE LABEL TEMPLATE */
.label-circle-wrapper {
	float: left;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #000;
}

.circle-label-text {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  color: black;
}

.circle-label-text p {
  height: 100%;
  padding: 0;
  text-align: center;
}

.circle-label-text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 1mm;
}

.circle-label-text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 1mm;
}


#print_cancel{
	position: fixed;
	top: 3em;
	right: 3em;
}
#gotoPrintBtn{
	
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}